body {
    font-family: Arial, sans-serif;
}

#saveButton{
    font-size: 0.9em;
    padding: 5px 15px;
    margin-top: 8px;
    margin-left: 15px;
}

#shapeForm {
    font-size: 1.3em;
    margin-bottom: 20px;
}

#shapeForm input,
#shapeForm select,
#shapeForm button {
    font-size: 0.8em;
    margin-left: 15px;
    padding: 7px;
}

#mainContainer {
    display: flex;
    margin-top: 15px; /* フォームとの間に余白を追加 */
    margin-left: 15px;
}

#dropArea {
    width: 420px; /* ドロップエリアの幅 */
    height: 420px; /* 高さを指定 */
    border: 3px dashed #ccc; /* ボーダーのスタイル */
    position: relative; /* 子要素の絶対位置指定を可能に */
    margin-top: 15px;
}

#duplicateArea {
    width: 100px;
    height: 100px;
    background-color: #9dd5e4;
    color: black;
    text-align: center;
    line-height: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1.5px solid black; /* 黒の枠線を追加 */
    border-radius: 5px; /* 角を丸くしたい場合はこの行を追加 */
}

#registeredShapeArea {
    width: 50%; /* 登録した図形エリアの幅 */
    display: flex;
    flex-wrap: wrap; /* 複数行にする */
    justify-content: flex-start; /* 左寄せ */
    align-items: flex-start; /* 上寄せ */
    padding: 20px; /* 内側の余白 */
    background-color: #fcf4de; /* 背景色を薄い青に */
    margin-top: 15px;
}

#instructions {
    position: absolute;
    top: 60px;
    font-weight: bold;
    text-align: center;
    margin-left: 30px;
}

.shape {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: white;
    border: 2px solid black;
    resize: both;
    overflow: auto;
}

.square {
    width: 80px;
    height: 80px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.doubleCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 20px;
}
        
.entranceHorizontal {
    width: 70px;
    height: 2px; /* 高さを小さく */
    background-color: black; /* 背景色を黒に */
    margin: 0; /* マージンをリセット */
}

.entranceHorizontal::before,
.entranceHorizontal::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: black;
    width: 100%;
    left: 0;
}

.entranceHorizontal::before {
    top: 0;
}

.entranceHorizontal::after {
    bottom: 0;
}

.entranceVertical {
    width: 2px; /* 幅を小さく */
    height: 70px; /* 高さを設定 */
    background-color: black; /* 背景色を黒に */
    margin: 0; /* マージンをリセット */
}

.entranceVertical::before,
.entranceVertical::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: black;
    height: 100%;
    top: 0;
}

.entranceVertical::before {
    left: 0;
}

.entranceVertical::after {
    right: 0;
}

.diagonalSquare {
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
}
